[submodule "ems-algasensors-temperature-monitoring"]
	path = ems-algasensors-temperature-monitoring
	url = git@github.com:douglasjava/ems-algasensors-temperature-monitoring.git
[submodule "microservices/ems-algasensors-temperature-monitoring"]
	path = microservices/ems-algasensors-temperature-monitoring
	url = git@github.com:douglasjava/ems-algasensors-temperature-monitoring.git
[submodule "microservices/ems-algasensors-device-management"]
	path = microservices/ems-algasensors-device-management
	url = git@github.com:douglasjava/ems-algasensors-device-management.git
[submodule "microservices/ems-algasensors-temperature-processing"]
	path = microservices/ems-algasensors-temperature-processing
	url = git@github.com:douglasjava/ems-algasensors-temperature-processing.git
